.slider {
    /* background-color: aqua; */
    width: 650px;
    height: 400px;
}

#carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}